body {
    background: #fafafa;
    color: #212529;
    margin-top: 5rem;
}

/* dark themes */
body.dark-theme {
    background-color: #212529;
    color: #ffffff;
}
#theme-toggle {
    margin-right: 20px;
}
body.dark-theme .form-group div,
body.dark-theme .form-group legend {
    color: #212529 !important;
}
body.dark-theme .article-metadata legend {
    color: #212529 !important;
}

/* ends */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
}

/* nav baradjustment */
nav {
    background-color: #000000 !important;
    color: #ffffff !important;
}
/* ends */

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}


.account-heading {
    font-size: 2.5rem;
}

/* song sidebar

.content-section {
    display: flex;
} */

.media-body {
    flex: 1;
}
/* dark mode for media-body */
/* body.dark-theme .media-body {
    color: #000000;
    flex: 1;
    
} */

/* music list sidebar */

.sidebar {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sidebar h2 {
    margin-top: 0;
    color: #333;
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.song-control {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.song-control:hover {
    background-color: #f0f0f0;
}

.sidebar-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.song-link:hover {
    background-color: #f0f0f0;
}

/* prev/next button */
.song-controls {
    display: flex;
    justify-content: space-between;
}

.prev-song {
    flex-grow: 1;
    text-align: left;
}

.next-song {
    flex-grow: 1;
    text-align: right;
}
