{% extends "admin/layout.html" %} {% block content %}
<h1 class="my-4">All Users</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>username</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div>
                        <form
                            action="{{ url_for('users.confirm_delete', user_id=user.id, username=user.username) }}"
                            method="post">
                            <input
                                type="submit"
                                class="btn btn-danger"
                                value="Delete" />
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
