{% extends "layout.html" %} {% block content %}
<div
    class="container artist-banner"
    style="display: flex; justify-content: center">
    {% if current_user.is_admin or current_user.is_manager %}
    <form
        action="{{ url_for('artists.edit_artist', artist_id=artist.id) }}"
        method="post">
        <button type="submit" class="edit-button">Edit</button>
    </form>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <img
                src="{{ artist_image }}"
                class="img-fluid rounded-circle"
                alt="artist image" />
        </div>
        <div class="col-md-8 artist-info">
            <h1 class="mt-4">{{ artist.name }}</h1>
            <p class="lead">
                <strong>Songs:</strong>
                {{ num_songs }}
                <br />
                <strong>Like:</strong>
                {{ total_likes }}
                <br />
                <strong>Day of Birth:</strong>
                {{ artist.birth_date }}
            </p>
        </div>
    </div>
</div>
<div class="container" style="display: flex; justify-content: center">
    <div class="song-list">
        <h2>Songs</h2>
        <div class="scrollable-song-list">
            {% for song in artist_songs %}
            <div class="song-item">
                <a
                    href="{{ url_for('songs.song', song_id=song.id) }}"
                    class="song-body text-decoration-none"
                    >{{ song.title }}</a
                >
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
