{% extends "layout.html" %}
{% block content %}
    <h1>{{ playlist.name }}</h1>
    <ul>
        {% for song in playlist.songs %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('songs.add_song_to_playlist', playlist_id=playlist.id) }}">
        <select name="song_id">
            {% for song in all_songs %}
                <option value="{{ song.id }}">{{ song.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add Song">
    </form>
    <a href="{{ url_for('songs.play_playlist', playlist_id=playlist.id, song_id=playlist.songs[0].id) }}" class="btn btn-primary mb-3">Play Playlist</a>
{% endblock content %}